body{
    background-image: url(https://jpimg.com.br/uploads/2023/07/design-sem-nome-2023-07-22t184400.810-750x432.png);
    background-size: 202vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 20px;
    color: #ffee00;
}
/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: #2cdb00;
  cursor: pointer;
  border: 2px solid #ffee00;
  overflow: hidden;
  border-radius: 30px;
  color: #005eff;
  transition: all 0.5s ease-in-out;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #333;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #2cdb00;
  color: #ffee00;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}